*{
	margin: 0px;
	padding: 0px;
}
#Wapper{
	width: 800px;
	margin: auto;
	color: #FFF;
}
#Header{
	width: 800px;
	height: 80px;
	background-color: #111111;
}
#Menu{
	width: 800px;
	height: 60px;
	background-color: #111111;
}

#contentLeft{
	width: 800px;
	height: 600px;
	background-color: #CCCCCC;
}
#contentRight{
	width: 800px;
	height: 600px;
	background-color: #66FF99;
	
}
#footer{
	width: 800px;
	height: 80px;
	background-color: #0099CC;
}
